<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebDAV Service Test Suite" verbose="1">
    <test name="WebDAV Service Tests">
        <classes>
            <class name="com.gooddata.webdav.SardineWebDavServiceTest"/>
        </classes>
    </test>
</suite>